.work-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .work-item {
        width: 50%;
        height: 0;
        padding-bottom: calc(56.25% / 2);
        position: relative;
        video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            width: 100%;
            height: calc(100% + 1px);
        }
        picture {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            img {
                object-fit: cover;
                width: 100%;
                height: calc(100% + 1px);
            }
        }
    }
}
